.inputField{
  position: absolute;
  background: #FFFFFF;
  /* Gray 1 */
  
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
}
.text{
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #000000;
}

.textOnButton{
  position:absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.enterButton{
  position: absolute;

  background: #000000;
  border-radius: 10px;
}